body
{
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    background-color: blanchedalmond;
}

body > div {
    display: inline-block
}

#info {
    width: 15%;
    border: .25rem solid;
    vertical-align: top;
}

.info-row {
    height: 20px;
    border: .1rem solid green;
}

.info-row > * {
    display: inline-block;
}

#build {
    vertical-align: top;
    width: 15%;
}

.info-img {
    margin: 2px;
}

.selected {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, .3);
    margin: 0;
}

#game {
    width: 625px;
    min-width: 625px;
}

.arrowFactory {
    width: 16px;
    height: 16px;
}

.magicFactory {
    width: 16px;
    height: 16px;
}

.game-row {
    padding: 0px;
    margin: 0px;
    height: 16px;
}

.game-cell {
    background-color: aliceblue;
    height: 16px;
    width: 16px;
    display: inline-block;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.game-cell > * {
    height: 16px;
    width: 16px;
}

/*#region Map Background Styles*/
.grass-1 {
    background: url("images/grass1.png");
}

.grass-1.highlight-green {
    background: linear-gradient(0deg, rgba(11,244,70, 0.5), rgba(11,244,70, 0.5)), url("images/grass1.png");
}

.grass-2 {
    background: url("images/grass2.png");
}

.grass-2.highlight-green {
    background: linear-gradient(0deg, rgba(11,244,70, 0.5), rgba(11,244,70, 0.5)), url("images/grass2.png");
}

.grass-3 {
    background: url("images/grass3.png");
}

.grass-3.highlight-green {
    background: linear-gradient(0deg, rgba(11,244,70, 0.5), rgba(11,244,70, 0.5)), url("images/grass3.png");
}

.dirt-1 {
    background: url("images/dirt1.png")
}

.dirt-1.highlight-green {
    background: linear-gradient(0deg, rgba(11,244,70, 0.5), rgba(11,244,70, 0.5)), url("images/dirt1.png");
}

.dirt-2 {
    background: url("images/dirt2.png")
}

.dirt-2.highlight-green {
    background: linear-gradient(0deg, rgba(11,244,70, 0.5), rgba(11,244,70, 0.5)), url("images/dirt2.png");
}

.dirt-3 {
    background: url("images/dirt3.png")
}

.dirt-3.highlight-green {
    background: linear-gradient(0deg, rgba(11,244,70, 0.5), rgba(11,244,70, 0.5)), url("images/dirt3.png");
}

/*#endregion*/